# ####################################################
# DIRECTORIES
# ####################################################

node_modules
dist
logs
coverage
tests/mocked.data/json/
.vscode

# ####################################################
# FILES
# ####################################################

package-lock.json